

body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article article"
    "nav footer footer";
  grid-template-rows: 40px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
    background-color: white;
    
  }
header, footer, article, div {
  padding: 0px;
overflow:auto;
    
   
    font-family:Tahoma;
    font-size: 1em;
  
    
    
}
#div1 {
    width: 200px;
    height: 250px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
nav{
    padding: 0px;
      font-family:Tahoma;
    font-size: 1em;
    text-align: center;
    
}
article{
     padding: 20px;
   background-color: white;
    
}
#pageHeader {
  grid-area: header;
    color:white;
    font-family:Tahoma;
    font-size: 2em;
   overflow:auto;
    background-color:#3197a9
      
    
}
#pageFooter {
  grid-area: footer;
      
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
}
#mainArticle { 
  grid-area: article;
    overflow: auto;
  }
nav { 
  grid-area: nav; 
    background-color:#7cc0c0
overflow:auto;
   
  }
header{
    overflow:auto;
     box-shadow: 0px 0px 10px grey;
}
#ul_menu {
	    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position:fixed;
    height: 90%;
    overflow:auto;
     box-shadow: 0px 0px 10px grey;
	}

	#li_menu {
	 display: block;
    color: #000;
    padding: 0px 0px;
    text-decoration: none;
    font-family:Tahoma;
    font-size: 1.2em;
        width: 100%;
	}

	#li_menu a {
	    display: block;
	    color: #555;
	    text-align: center;
	    padding: 15px 15px;
	    text-decoration: none;
	}

	#li_menu a:hover:not(.active) {
	 background-color: #555;
    color: white;
     font-family:Tahoma;
    font-size: 1em;
	}


table, th, td {
    
}


#article1{
 
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
   
}

#article2{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
   
}

#article8{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;

}

#article3{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;

}
#article4{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
    
}

#article66{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
    
}

#article6{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
    
}
#article5{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
    
}
#article9{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
    
}
#article55{
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
    
}#ffffff


#asd{
    
   
    grid-area:article;
    font-family:Tahoma;
    font-size: 1em;
     background-color: white;
    padding-left: 10px;
      box-shadow: 0px 0px 0px grey;
    border-spacing: 10px;
    
}
td:hover {background-color: #f5f5f5}
table{
    font-family:Tahoma;
    text-align: center;
 background-color:white;
  margin-left: 55%;
  
    border-spacing: 60px;
}

td{
    background-color:white;
    box-shadow: 10px 10px 10px grey;
    border-radius: 5px;
}

nav.vertical a{
  display:block;
  color:#eee;
  text-decoration:none;
      color:#555;
  padding:10px 15px;
  transition:0.2s;
        font-size: 1.2em;
}
/* ALL A HOVER */
nav.vertical li:hover > a{
  background:#555;
    color:white;
        font-size: 1.2em;
}

/* INNER UL HIDE */
nav ul ul{
  background:rgba(0,0,0,0.1);
  padding-left:0px;
  transition: max-height 0.2s ease-out;
  max-height:0;
        font-size: 1.2em;
  overflow:hidden;
    color:black;
}
/* INNER UL SHOW */
nav.vertical li:hover > ul{
      color:black;
  max-height:500px;
  transition: max-height 0.25s ease-in;
        font-size: 1em;
}
#imag{
    width:300;
    position:fixed;
    opacity: .180;
  top:0px;
   margin:15%;
}