    
 <h3 class="ui dividing teal header">PREGUNTAS LAB 19</h3>
<H4>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</H4>
<img src="ajax.jpg">
<h4>¿Qué alternativas a jQuery existe5?</h4>
<h5>
<ul>
<li>KENDO</li>
    <li>WEBIX</li>
    <li>JQWidgets</li>
    <li>Easy UI</li>
    <li>Wijmo</li>
</ul>
</h5>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js" charset="utf-8"></script>
 <script type="text/javascript" src="ajax.js"></script>

  
</script>
</body>

</html>