  



<div class="ui one cards">
          <div class="ui teal card">
              <div class="ui grid" id="profile_grid">
      <div class="one wide row"></div>
<div class="one wide column"></div>
      <div class="fourteen wide column">
<form class="ui form" action="guardar.php" method="post">
    <?php if(isset($comidas)): ?>
            <input name="id" id="id" type="hidden" value="<?=$comidas["id"];?>">
        <?php endif; ?>
    
    
    
  <h4 class="ui dividing teal header">AGREGAR COMIDA</h4>
<div class="three fields">
    <div class="field required">
      <label>Nombre Estado</label>
      <input onkeypress="sendRequest()" placeholder="Nombre Estado" type="text" name="nombre" id="nombre" class="validate" required value="<?php if(isset($comidas)) echo $comidas["nombre"] ?>">
            <div id="ajaxResponse"></div>
    </div>
    <div class="field required">
      <label>Descripcion</label>
      <input placeholder="Descripcion" type="text" id="descripcion" name="descripcion" required value="<?php if(isset($comidas)) echo $comidas["descripcion"] ?>">
    </div>
    <div class="field required">
      <label>PIB</label>
      <input placeholder="Precio" type="text" id="precio" name="precio" required value="<?php if(isset($comidas)) echo $comidas["precio"] ?>">
    </div>
    
  </div>

   
                  

    <br>
  <input type="submit" class="ui right floated button" id="submit" name="submit" value="Enviar"/>
   
      <br><br>.<br>
</form>