     
<?php if(isset($registroId)): ?>
            <input name="id" id="id" type="hidden" value="<?=$registroId["id"];?>">
        <?php endif; ?>

<div class="ui one cards">
          <div class="ui teal card">
              <div class="ui grid" id="profile_grid">
      <div class="one wide row"></div>
<div class="one wide column"></div>
      <div class="fourteen wide column">
<form class="ui form" action="guardar1.php" method="post">
    


    
  <h4 class="ui dividing teal header">AGREGAR COMIDA</h4>
<div class="three fields">
    <div class="field required">
      <label>Nombre</label>
      <input placeholder="Nombre" type="text" name="nombre" id="nombre" class="validate">
    </div>
    <div class="field required">
      <label>Descripcion</label>
      <input placeholder="Descripcion" type="text" id="descripcion" name="descripcion" >
    </div>
    <div class="field required">
      <label>Precio</label>
      <input placeholder="Precio" type="text" id="precio" name="precio">
    </div>
    
  </div>

   
                  

    <br>
  <input type="submit" class="ui right floated button" id="submit" name="submit" value="Enviar"/>
   
      <br><br>.<br>
</form>